<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/blank">
<head>
  <title>Demo</title>
</head>
<body>
<!--<section layout:fragment="content">-->
<section layout:fragment="content">
	<script>
	$(document).ready(function(){
		
	});
	</script>
	<style>
	
	</style>
  	<div class="widget-wrap">
		   <div class="widget-header block-header margin-bottom-0 clearfix">
		   
	       </div>
	       <div class="widget-container">
	           <div class="widget-content j-forms">
	           		
	           		
	               <div class="row">
		               	Hello World!!! This is for testing CI/CD
	               </div>
	           </div>
	       </div>
	   </div>
  	
</section>
</body>
</html>